<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center">
                <p class="display-5 my-3 text-center">Estetica</p>
                <div class="row justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="/assets/img/estetica.jpg" alt="estetica" class="img-fluid">
                    </div>
                    <div class="col-12 col-lg-8">
                        <p class="my-3 text text-center">
                            Voler migliorare il proprio aspetto non è sintomo di superficialità, sentirsi belli 
                            non è un peccato ma un diritto, è un modo per sentirsi più sicuri con se stessi e con gli altri.
                            Per noi benessere significa creare un equilibrio tra corpo e mente, provare soddisfazione 
                            e compiacimento per il proprio corpo, imparando ad accettare l'idea che non abbiamo difetti 
                            ma solo peculiarità.
                            Ai nostri clienti proponiamo una vastissima gamma di trattamenti che spaziano dai servizi 
                            più basici ai trattamenti più intensivi e mirati. Il settore del beauty è in continua evoluzione 
                            pertanto il nostro personale è sempre aggiornato sulle nuove tendenze al fine di fornire un 
                            servizio di alta qualità e professionalità per venire incontro a qualsiasi necessità. 
                            Selezioniamo i migliori centri estetici, dotati di interessanti e vantaggiosi pacchetti 
                            di bellezza, saloni specializzati in pedicure e manicure, laminazione ciglia e sopracciglia, 
                            microblading e trucco semi permanente. Il cliente può inoltre affidarsi a noi nella ricerca 
                            di negozi specializzati in prodotti per i trattamenti home made.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <p class="display-6 my-3 text-center">Servizi</p>
                    <div class="row pt-3 pb-5">
                        <div class="col-12 col-md-6 col-lg-4">
                            <img class="img-fluid opacity" src="/assets/img/lampada-abbronzante.png" alt="">
                            <p class="text-center">Lampade abbronzanti</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <img class="img-fluid opacity" src="/assets/img/trattamento-viso-2.png" alt="">
                            <p class="text-center">Depilazione e laminazione ciglia e sopracciglia</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <img class="img-fluid opacity" src="/assets/img/prodotti-specifici.png" alt="">
                            <p class="text-center">Rivenditori prodotti specifici</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <img class="img-fluid opacity" src="/assets/img/viso-corpo.png" alt="">
                            <p class="text-center">Trattamenti viso e corpo</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <img class="img-fluid opacity" src="/assets/img/manicure.png" alt="">
                            <p class="text-center">Manicure</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <img class="img-fluid opacity" src="/assets/img/depilazione.png" alt="">
                            <p class="text-center">Depilazione</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
