<div class="container-fluid">
    <div class="row py-5">
        <div class="col-12">
            <p class="display-5 mb-sm-2 mb-lg-5 text-center">Centro Massaggi</p>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/introduzione-massaggi.jpg" alt="massaggi">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text mt-3">Per chiunque avverta il desiderio o la necessità di 
                dedicarsi un momento di pausa e rilassarsi, la soluzione migliore è quella di regalarsi 
                un trattamento rigenerante. Da sempre i massaggi offrono benefici fisici e psicologici, 
                il loro scopo é infatti quello di raggiungere il perfetto equilibrio psico-fisico. Attraverso 
                le diverse tipologie e tecniche impiegate, tra cui i massaggi Shiatsu, i massaggi con pietre 
                calde, i massaggi relax, i massaggi giapponesi e thailandesi, il corpo si rilassa e la mente 
                si libera.
            </p>
        </div>
    </div>
    <div class="row py-5 bg-secondary bg-gradient" id="relax">
        <div class="col-12 col-lg-6 order-0 order-lg-1">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/relax.jpg" alt="relax">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text text-white mt-3"><span class="fs-3 fw-bold">RELAX</span><br>Grazie ai massaggi relax si riesce ad alleviare 
                lo stress, migliorare il benessere mentale ed emotivo e rilassare i muscoli per una piacevole 
                sensazione di leggerezza.
            </p>
        </div>
    </div>
    <div class="row py-5" id="thailandese">
        <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/thailandese.png" alt="thailandese">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text mt-3"><span class="fs-3 fw-bold">THAILANDESE</span><br>Col massaggio thailandese in entrambi gli stili: 
                del Sud, più veloce e mirato e del Nord, curato più nel dettaglio, è possibile diminuire la pressione 
                sanguigna ed eliminare le tossine rallentando così il processo di invecchiamento.
            </p>
        </div>
    </div>
    <div class="row py-5 bg-dark bg-gradient" id="giapponese">
        <div class="col-12 col-lg-6 order-0 order-lg-1">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/giapponese.png" alt="giapponese">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text text-white mt-3"><span class="fs-3 fw-bold">GIAPPONESE</span><br>Con la dolcezza di esecuzione dei massaggi Giapponesi 
                si aumenta la concentrazione, si migliora l’equilibrio energetico e fisico alleviando mal di schiena, dolori 
                addominali e cervicali.
            </p>
        </div>
    </div>
    <div class="row py-5" id="shiatsu">
        <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/shiatsu.png" alt="shiatsu">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text mt-3"><span class="fs-3 fw-bold">SHIATSU</span><br>Il massaggio Shiatsu è un tipo di massaggio giapponese 
                effettuato con manipolazioni delle dita o dei gomiti volte a ridurre stati di stress e ansia, favorire la 
                mobilità delle articolazioni e promuovere la circolazione linfatica.
            </p>
        </div>
    </div>
    <div class="row py-5 bg-secondary bg-gradient" id="stone">
        <div class="col-12 col-lg-6 order-0 order-lg-1">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/stone.png" alt="stone massage">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text text-white mt-3"><span class="fs-3 fw-bold">STONE MASSAGE</span><br>Lo Stone Massage viene eseguito beneficiando di pietre 
                riscaldate o raffreddate che, posizionate sul corpo, servono a sciogliere tensioni muscolari favorendo il benessere 
                psico-fisico della persona.
            </p>
        </div>
    </div>
</div>
