<div class="container-fluid">
    <div class="row py-5">
        <div class="col-12">
            <p class="display-5 mb-sm-2 mb-lg-5 text-center">Parrucchieri</p>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/salonidibellezza-mini.jpg" alt="salon-di-bellezza">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text mt-3">
                I capelli rappresentano un lato importante del nostro aspetto fisico, essi denotano la fisionomia di un volto, 
                l’identità e la personalità di un individuo. Prendersene cura non è un atto di vanità, ma è un gesto di riguardo 
                verso se stessi e gli altri. Andare da un parrucchiere deve essere un’esperienza piacevole e rilassante perciò 
                noi vi aiuteremo nella scelta di personale qualificato e specializzato a cui affidare le vostre chiome per dar 
                loro lucentezza, vitalità e carattere. Troverete una soluzione consona alle vostre esigenze che spazia dalla 
                piega al trattamento curativo. Oltre ai servizi, siamo a disposizione per supportarvi nella ricerca di prodotti 
                e attrezzature professionali per la cura dei capelli anche a casa.
            </p>
        </div>
        <div class="col-12">
            <p class="display-5 my-3 my-lg-5 text-center">Servizi</p>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="carousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/assets/img/taglio2.jpg" class="d-block w-100" alt="taglio">
                                    <div class="carousel-caption">
                                        <h4>TAGLIO</h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/img/barba.jpg" class="d-block w-100" alt="rasatura barba">
                                    <div class="carousel-caption">
                                        <h4>RASATURA BARBA</h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/img/piega.jpg" class="d-block w-100" alt="piega">
                                    <div class="carousel-caption">
                                        <h4>PIEGA</h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/img/extension.jpg" class="d-block w-100" alt="extension">
                                    <div class="carousel-caption">
                                        <h4>EXTENSION</h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/img/trecce.jpg" class="d-block w-100" alt="trecce">
                                    <div class="carousel-caption">
                                        <h4>TRECCE</h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/img/acconciature.jpg" class="d-block w-100" alt="acconciature">
                                    <div class="carousel-caption">
                                        <h4>ACCONCIATURE</h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/img/trattamenti-curativi.jpg" class="d-block w-100" alt="trattamenti-curativi">
                                    <div class="carousel-caption">
                                        <h4>TRATTAMENTI CURATIVI</h4>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/assets/img/tinte.jpg" class="d-block w-100" alt="tinte">
                                    <div class="carousel-caption">
                                        <h4>TINTE</h4>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
