<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row" style="background-image: url('/assets/img/spa.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
                <div class="col-7 col-md-5 col-lg-4 py-5 p-md-5 d-flex flex-column" style="background-color: white; opacity: 0.7;">
                    <h3>IL RIPOSO É UN'ARMA</h3>
                    <p class="text mt-3">Se vuoi goderti un momento in pieno relax in una vasca idromassaggio, sauna o bagno turco, 
                        lasciarti coccolare dalle sapienti mani di un’ operatrice che ti saprà indicare i trattamenti più adatti a te, 
                        per farti passare momenti all’insegna del benessere, affidati ai nostri esperti che ti indicheranno la soluzione 
                        più adatta alle tue esigenze.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-5 bg-secondary bg-gradient" id="sauna">
        <div class="col-12 col-lg-6 order-0 order-lg-1">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/sauna.png" alt="sauna" style="height: 270px;">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text text-white mt-3"><span class="fs-3 fw-bold">SAUNA</span><br>La sauna si svolge in una cabina in legno 
                con bruciatori che raggiungono una temperatura tra gli 80 e i 100ºC e mantengono una soglia di umidità bassa 
                (10-20%) per favorire la dilatazione dei pori ed aumentare la sudorazione eliminando le tossine.
            </p>
        </div>
    </div>
    <div class="row py-5" id="bagno-turco">
        <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/bagno-turco.png" alt="bagno-turco" style="height: 270px;">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text mt-3"><span class="fs-3 fw-bold">BAGNOTURCO</span><br>Nel bagno turco, invece, le temperature variano 
                dai 40 ai 60ºC e l’umidità raggiunge il 100% per favorire la circolazione grazie alla dilatazione dei vasi sanguigni 
                ed aiutare il sistema nervoso a combattere stress e tensioni.

            </p>
        </div>
    </div>
    <div class="row py-5 bg-dark bg-gradient" id="cromoterapia">
        <div class="col-12 col-lg-6 order-0 order-lg-1">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/cromoterapia.png" alt="cromoterapia" style="height: 270px;">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text text-white mt-3"><span class="fs-3 fw-bold">CROMOTERAPIA</span><br>In combinazione a questi trattamenti, 
                consigliamo l’utilizzo della cromoterapia, che grazie ad un catalizzatore, stimola i naturali processi di 
                autoguarigione.
            </p>
        </div>
    </div>
    <div class="row py-5" id="trattamento-viso">
        <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="/assets/img/trattamento-viso.png" alt="trattamento-viso" style="height: 270px;">
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <p class="text mt-3"><span class="fs-3 fw-bold">TRATTAMENTI PER IL VISO</span><br>Nelle Spa ci sono vari trattamenti viso personalizzati 
                per ogni tipo di esigenza: si può scegliere tra una semplice pulizia del viso, degli scrub per esfoliare la pelle 
                o la nuova tecnica di ozono terapia per ridurre le rughe e rimodellare il viso. 
            </p>
        </div>
    </div>
</div>
