<div class="container">
    <div class="row align-items-center" style="height: calc(100vh - 76px);">
        <div class="col-12">
            <p class="d-block d-md-none display-5 mb-sm-2 mb-lg-5 text-center">Ho deciso di essere felice perché fa bene alla mia salute.</p>
            <div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/salonidibellezza-mini.jpg" class="d-block w-100" alt="taglio">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/thailandese.png" class="d-block w-100" alt="trecce">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/pilates.png" class="d-block w-100" alt="acconciature">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/trattamenti-curativi.jpg" class="d-block w-100" alt="trattamenti-curativi">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/relax.jpg" class="d-block w-100" alt="tinte">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
