<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center" style="height: calc(100vh - 76px);">
                <p class="display-5 mb-5 text-center">Accedi o crea un account</p>
                <div class="row justify-content-lg-evenly">
                    <div class="col-6 col-lg-4">
                        <form>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1">
                              <span>Ha dimenticato la password?</span>
                            </div>
                            <button type="submit" class="btn btn-dark">Accedi</button>
                          </form>
                    </div>
                    <div class="col-6 col-lg-4">
                        <p class="fs-4">Registrati</p>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>